{% extends "base.html.twig" %}

{% block page %}
	<h2 class="mb-4 text-center">Documentation d'Amapli</h2>
	<p>L'application Amapli, est une application de gestion d'Amap. Elle a été créée dans le but de faciliter la gestion d'une Amap.
							L'intérêt est qu'elle puisse s'adapter à nimporte qu'elle Amap. C'est pourquoi de nombreuses mises à jour sont à venir de façon à
							ce que son utilisation puisse être optimum.
	</p>
	<p>Cette documentation a pour but de vous présenter les fonctionnalités d'Amapli. Chaque fonctionnalité de l'application y est détaillée,
							accompagnée le plus souvent d'illustration afin de faciliter la prise en main.
	</p>
	<p>
		Le code source de l'application est disponible sur Github dont le lien se trouve juste
		<a href="#">ici</a>.
	</p>
	<p>
		Cette application a été réalisée par Grégory Thorel dans le cadre d'un projet de fin d'étude, avec l'aimable participation des membres
							de l'association
		<a href="#">Escalamap</a>.
	</p>
	<p>
		Une version démo est disponible. L'installation de l'application sur un serveur web est détaillée
		<a href="#">ici</a>.
																	Amapli est écrit en PHP 7, en javascript, basé sur le framework Symfony 5 et quelques librairies JS.
																	Vous retrouverez le détail concernant la partie technique
		<a href="#">ici</a>.
	</p>
	<p>
		Si vous rencontrer des difficultés lors de l'utilisation ou de l'installation d'Amapli ou
							si vous avez des questions ou des suggestions vous pouvez me contacter via la rubrique contact de ce site.
							Si vous rencontrer des bugs n'hésitez pas à me le signaler.
	</p>
	<p>
		Toutes les données utilisées lors des didacticiels sont factices et libres de droits.
	</p>
	<p>
		Version actuelle : V1.0
	</p>

{% endblock %}
