@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
h1 {
    text-transform: Uppercase;
    margin-bottom: .5em;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    color: #E4E5E6;
}

h2 {
    margin-bottom: .5em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    color: #E4E5E6;
}

h1, h2 {
    position: relative;
    background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
    /* text-shadow: 10px 10px 10px rgba(0, 0, 0, .5), 20px 20px 20px rgba(0, 0, 0, .4), 30px 30px 30px rgba(0, 0, 0, .1); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style: none !important;
}