{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace trésorier</h1>
	<section id="adhesion-accueil">
		<h2 class="text-center">Le listing des associations</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/tresorier/association/listing.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Trésorier"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des associations"</li>
					</ul>
				</p>
				<p>
					Le listing des adhésions vous fourni une vue d'ensemble de toutes les associations disponibles, avec le montant de l'adhésion et les actions disponibles.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
