{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="produit-accueil">
		<h2 class="text-center">Le listing des produits</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/produit/listing.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Réferent"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des produits"</li>
					</ul>
				</p>
				<p>
					Le listing des produits vous fourni une vue d'ensemble de tous les produits disponibles pour l'ensemble des producteurs.  Cliquez sur "voir les produits" d'un producteur 
																									afin d'accèder à la liste complète des produits. Vous pouvez également utiliser le mode de recherche pour aller plus vite.
				</p>
			</p>
		</div>
	</section>
{% endblock %}
