{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="producteur-accueil">
		<h2 class="text-center">Le listing des adhérents</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/adherent/listing.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Le listing des adhérents vous propose la liste complète de tous les adhérents avec nom, prénom, rôle dans l'Amap
															simple adhérent, référent, producteur, etc... la date d'inscription et vous pouvez  Cliquez sur consulter pour plus de détails.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
